@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green1: #305140;
  --color-green2: #3e6852;
  --color-green3: #487a60;
  --color-green4: #6cb791;
  --color-green5: #37815b;
  --color-gr-light: #5c7e6c;
  --color-darkgreen: #0c221b;
  --color-rich-black: #060606;
  --color-primary-beige: #f6ece2;
  --color-secondary-beige: #bfb8b1;
  --color-primary-rich-black: #1d1d1d;
  --color-error-color: #d42525;
  --color-divider-color: #ffffff80;
  --color-overlay-color: #1d1d1db4;
  --color-vertical: #2c3a33;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/* Custom Checkbox */
input[type="checkbox"]:checked + span img {
  display: block;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Calendar */

.home-calendar td {
  @apply rounded-full overflow-hidden;
}

.home-calendar tr {
  @apply justify-between;
}

.home-calendar td {
  @apply flex justify-center items-center h-[35px] w-[35px];
}

.home-calendar button[data-selected-single="true"] {
  @apply bg-green3 rounded-full;
}

.home-calendar td[data-selected="true"] {
  background: transparent !important;
  background-color: transparent !important;
}

.full-calendar-wrapper
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:first-child) {
  border-radius: 5px;
}

.full-calendar-wrapper .fc-media-screen {
  @apply text-primary-beige;
}
.full-calendar-wrapper .fc-button-group button {
  @apply border-0 bg-transparent outline-0 shadow-none;
}

.full-calendar-wrapper .fc .fc-button-primary:hover {
  @apply bg-green3 outline-0 shadow-none border-0;
}

.full-calendar-wrapper .fc .fc-button-primary:not(:disabled).fc-button-active,
.full-calendar-wrapper .fc .fc-button-primary:not(:disabled):active {
  @apply rounded-tl-[15px] rounded-tr-[15px] bg-green1;
}

.full-calendar-wrapper
  .fc
  .fc-button-primary:not(:disabled).fc-button-active:focus,
.full-calendar-wrapper .fc .fc-button-primary:not(:disabled):active:focus {
  @apply shadow-none;
}

.full-calendar-wrapper .fc-today-button {
  border-radius: 5px !important;
}

.full-calendar-wrapper .fc-scroller::-webkit-scrollbar {
  display: none;
}

.full-calendar-wrapper .fc .fc-toolbar {
  @apply flex flex-wrap justify-center gap-[10px] sm:justify-between sm:gap-0;
}

.full-calendar-wrapper .fc .fc-list-sticky .fc-list-day > * {
  @apply bg-green1;
}

.full-calendar-wrapper .fc .fc-list-event:hover td {
  @apply bg-green1;
}

.full-calendar-wrapper .fc-h-event {
  @apply border-0;
}

.full-calendar-wrapper .fc-v-event {
  @apply bg-green1 border-0;
}

.full-calendar-wrapper .fc-v-event {
  background-color: #37815b;
}

.full-calendar-wrapper .fc-timegrid-event-harness-inset .fc-timegrid-event,
.full-calendar-wrapper .fc-timegrid-event.fc-event-mirror,
.full-calendar-wrapper .fc-timegrid-more-link {
  box-shadow: none;
}

.full-calendar-wrapper .fc-h-event {
  background-color: transparent;
  border: none;
}

/* Dropdown select */
.agenda-dropdown,
.event-popup {
  @apply text-primary-beige;
}
.agenda-dropdown[data-placeholder],
.event-popup[data-placeholder] {
  @apply text-primary-beige;
}

.agenda-dropdown svg,
.event-popup svg {
  @apply text-primary-beige;
}
.agenda-dropdown .focus-visible\:border-ring:focus-visible,
.event-popup .focus-visible\:border-ring:focus-visible {
  box-shadow: none !important;
}
/* Schedule Wrap */
.schedule-wrap::-webkit-scrollbar {
  width: 5px;
}

.schedule-wrap::-webkit-scrollbar-track {
  @apply bg-green1;
}

.schedule-wrap::-webkit-scrollbar-thumb {
  @apply bg-green3;
}

/* Card Wrapper Button */
.card-dot-wrapper button {
  @apply h-full  cursor-pointer;
}

/* rooms card wrapper */
.rooms-card-wrapper::-webkit-scrollbar {
  display: none;
}

/* Chart Focus */
.recharts-wrapper svg:focus {
  outline: none;
}

.recharts-wrapper svg {
  outline: none;
  pointer-events: none;
}
.recharts-wrapper .recharts-pie-sector,
.recharts-wrapper .recharts-bar-rect,
.recharts-wrapper .recharts-line-curve {
  stroke: none;
}
